<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginC</servlet-name>
        <servlet-class>controllers.LoginC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterC</servlet-name>
        <servlet-class>controllers.RegisterC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddScheduleC</servlet-name>
        <servlet-class>controllers.AddScheduleC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPatientsListC</servlet-name>
        <servlet-class>controllers.ViewPatientsListC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetVisitC</servlet-name>
        <servlet-class>controllers.SetVisitC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGeneralNeedC</servlet-name>
        <servlet-class>controllers.AddGeneralNeedC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutC</servlet-name>
        <servlet-class>controllers.LogoutC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewVisitsC</servlet-name>
        <servlet-class>controllers.ViewVisitsC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aaC</servlet-name>
        <servlet-class>controllers.aaC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginC</servlet-name>
        <url-pattern>/LoginC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterC</servlet-name>
        <url-pattern>/RegisterC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddScheduleC</servlet-name>
        <url-pattern>/AddScheduleC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPatientsListC</servlet-name>
        <url-pattern>/ViewPatientsListC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetVisitC</servlet-name>
        <url-pattern>/SetVisitC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGeneralNeedC</servlet-name>
        <url-pattern>/AddGeneralNeedC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutC</servlet-name>
        <url-pattern>/LogoutC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewVisitsC</servlet-name>
        <url-pattern>/ViewVisitsC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aaC</servlet-name>
        <url-pattern>/aaC</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>IndexJSP.jsp</welcome-file>
    </welcome-file-list>
</web-app>
