<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterC</servlet-name>
        <servlet-class>controllers.RegisterC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterPatientC</servlet-name>
        <servlet-class>controllers.RegisterPatientC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPatientC</servlet-name>
        <servlet-class>controllers.LoginPatientC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNeedC</servlet-name>
        <servlet-class>controllers.AddNeedC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPatientScheduleC</servlet-name>
        <servlet-class>controllers.AddPatientScheduleC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutPC</servlet-name>
        <servlet-class>controllers.LogoutPC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackC</servlet-name>
        <servlet-class>controllers.FeedbackC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeedbackC</servlet-name>
        <servlet-class>controllers.AddFeedbackC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProposedVisitsC</servlet-name>
        <servlet-class>controllers.ProposedVisitsC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmVisitC</servlet-name>
        <servlet-class>controllers.ConfirmVisitC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterC</servlet-name>
        <url-pattern>/RegisterC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterPatientC</servlet-name>
        <url-pattern>/RegisterPatientC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPatientC</servlet-name>
        <url-pattern>/LoginPatientC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNeedC</servlet-name>
        <url-pattern>/AddNeedC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPatientScheduleC</servlet-name>
        <url-pattern>/AddPatientScheduleC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutPC</servlet-name>
        <url-pattern>/LogoutPC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackC</servlet-name>
        <url-pattern>/FeedbackC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeedbackC</servlet-name>
        <url-pattern>/AddFeedbackC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProposedVisitsC</servlet-name>
        <url-pattern>/ProposedVisitsC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmVisitC</servlet-name>
        <url-pattern>/ConfirmVisitC</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>IndexJSP.jsp</welcome-file>
    </welcome-file-list>
</web-app>
